*{
	margin: 0px;
	padding: 0px;
}

html{
	background: rgb(197,222,234);
	background: -moz-linear-gradient(top, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%);
	background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
	background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 );
	height: 100%;
	width: 100%;
}

header{
	height: 20%;
	width: 100%;
	background: #7C8A86;
}

h2 a{
	
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	display: inline-block;
	letter-spacing: 0.2px;
	text-decoration: none;
	font-variant: normal;
	word-spacing: 0.1px;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	margin-top: 2%;
	color: #ffffff;
	z-index: 2;
}

a:hover{
	color: blue;
	text-decoration: underline;
}

.galeria{
	display: block;
	background: #5D6B67;
	margin: 1% 0.25% 0% 0.5%;
}

.galeria img{
	width: 180px;
	height: 120px;
	margin-top: 5px;
	display: inline-flex;
}

.galeria div{
	width: 30%;
	height: auto;
	margin-left: 2%;
	position: absolute;
	display: inline-block;
}

.refence{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

#search_div{
	width: 100%;
	height: 50px;
	margin: auto;
	font-size: 12px;
}

#search{
	width: 86%;
	height: 30px;
	margin-top: 7px;
	margin-left: 0.5%;
}

#search_div input[type="text"], #banner_menu input[type="text"], #more_options input[type="text"]{
	padding-left: 0.5%;
}

#search_div input[type="button"]{
	width: 5rem;
	height: 35px;
}

#dates input[type="button"]{
	height: 50px;
	width: 15.5rem;
	padding-left: 2%;
	margin-bottom: 1%;
	margin-left: 0.65%;
	display: inline-flex;
}

.banners{
	z-index: 3;
	border-radius: 10%;
	background: #4FC9E6;
	
	
	height: 55%;
	width: 31.8%;

	color: #FFFFFF;
	font-weight: 700;
	word-spacing: 0px;
	font-style: normal;
	font-size: 0.005em;
	letter-spacing: 0px;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#banner_fllegada{
	position: absolute;
	left: 0.75%;
	top: 20%;
}

#banner_fsalida{
	position: absolute;
	left: 33.8%;
	top: 20%;
}

#banner_menu{
	position: absolute;
	right: 0.75%;
	top: 20%;
}

.banners h2{
	text-align: center;
}

.banners p{
	padding-left: 5%;
}

.banners a{
	text-decoration: none;
	color: white;
}

.month{
	border-spacing: 0.875rem;
	padding: 0% 0% 0% 5%;
	margin: 0% 0% 0% 0%;
}

.day{
	border-spacing: 10px;
	padding: 0% 0% 0% 10%;
}

#banner_menu input[type="text"]{
	width: 80%;
	height: 20px;
	margin-left: 10%;
	padding-left: 2%;
	border-radius: 10px;
}

label[for="tags"]{
	padding-left: 2%;
	font-weight: bold;
	font-size: 0.6rem;
} 

#banner_menu input[type="button"]{
	width: 100px;
	height: 30px;
	min-width: 30%;
	font-size: 0.3em;
	padding-left: 2%;
	border-radius: 15px 15px 15px 15px;
}

#table_tags{
	border-spacing: 5px;
	padding-left: 2%;
	font-size: 10px;
	width: 100%;
}

#table_tags tr{
	display: inline-block;
}

#banner_menu  #filtrar{
	padding-left: 40%;
	margin-left: 5%;
	width: 90%;
}

#banner_menu  #more{
	padding-left: 33.5%;
	margin-left: 5%;
	width: 90%;
}

#more_options{
	background: #4FC9E6;
	z-index: 3;
	
	padding-left: 3%;
	height: 75%;
	width: 45%;

	color: #FFFFFF;
	font-weight: 700;
	word-spacing: 0px;
	font-style: normal;
	font-size: 0.805em;
	letter-spacing: 0px;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	font-family: "Comic Sans MS", cursive, sans-serif;

	top: 6%;
	left: 19.35%;
	position: absolute;
	border-radius: 15px 200px 0px 200px;
}

#more_options h2{
	padding-left: 25%;
}

#more_options input[type="text"]{
	width: 90%;
	height: 40px;
	padding-left: 2%;
	margin-left: -4%;
	border-radius: 10px;
}

#puntuacion, #hospedaje{
	display: inline-block;
	font-size: 0.6rem;
	padding-left: 1%;
	width: 45%;
	top: 0px;
}

label[for="precio_por_noche"]{
	display: inline-block;
	padding-left: 4%;
	margin-right: 3%; 
}

input[type='range']{
	display: inline-block;
	margin: auto;
	width: 60%;
}

input[type='range']:focus{
	outline: none;  /*Es por una cuestion estetica*/
}

input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {  /*Esto se refiere a la bolita*/
  background-color: #3748A9;  /*Es el color de la bolita*/
  border-radius: 50%;         /*Es para que sea bolita*/
  margin-top: -9px;           /*Se pone así para que este al nivel de la linea*/
  height: 20px;				  /*Es el tamaño de la bolita a lo largo*/
  width: 20px;				  /*Es el tamaño de la bolita a lo ancho*/
}

input[type=range]::-webkit-slider-runnable-track {  /*Esto se refiere a la linea por donde va la bolita*/
  background-color: #FFFFFF;
  outline: none;
  height: 3px;
}


#more_options input[type="button"]{
	margin-top: 5%;
	margin-left: 17.5%;
	padding-left: 30.5%;
	border-radius: 15px 15px 15px 15px;
}


footer{
	background: #7C8A86;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

blockquote{
	color: #FFFFFF;
	font-size: 1.025rem;
	font-style: normal;
	font-weight: normal;
	word-spacing: 0.8px;
	font-variant: normal;
	text-decoration: none;
	letter-spacing: -0.2px;
	text-transform: uppercase;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

	padding-left: 40%;
}

cite{
	color: #FFFFFF;
	font-size: 35px;
	word-spacing: 1px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	letter-spacing: -2px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

	padding-left: 10%;
}