*{
	margin: 0px;
	padding: 0px;
}

html{
	background: rgb(197,222,234);
	background: -moz-linear-gradient(top, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%);
	background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
	background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 );
	height: 100%;
	width: 100%;
}

h2{
	display: block;
	text-align: center;
}

form{
	border-radius: 60px;
	background: #7C8A86;
	margin: auto;
	padding: 3%;
	width: 60%;

	font-size: 80%;
}

p{
	text-indent: 2%;
	border-radius: 30px;
	background: rgba(255,255,255,0.5);
}

input{
	border-radius: 30px;
	display: block;
	margin: auto;
	height: 30px;
	width: 80%;
}