*{
	margin: 0px;
	padding: 0px;
}

body{
	background: rgb(197,222,234);
	background: -moz-linear-gradient(top, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%);
	background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
	background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 );
	background-size: cover;
	height: 100%;
	width: 100%;
}

div{
	background-color: rgba(255,255,255,0.5);
	border-radius: 30px;
	background: white;
	display: block;
	color: black;
	margin: auto;
	padding: 3%;
	width: 90%;
}